html .content .highlight table td { padding: 5px; }
html .content .highlight table pre { margin: 0; }
html .content .highlight, html .content .highlight .w {
  color: #93a1a1;
  background-color: #2d2a2e;
}
html .content .highlight .err {
  color: #002b36;
  background-color: #2d2a2e;
}
html .content .highlight .c, html .content .highlight .ch, html .content .highlight .cd, html .content .highlight .cm, html .content .highlight .cpf, html .content .highlight .c1, html .content .highlight .cs {
  color: #657b83;
}
html .content .highlight .nl {
  color: inherit;
}
html .content .highlight .cp {
  color: #b58900;
}
html .content .highlight .nt {
  color: #fd6187;
}
html .content .highlight .o, html .content .highlight .ow {
  color: #93a1a1;
}
html .content .highlight .p, html .content .highlight .pi {
  color: #929192;
}
html .content .highlight .gi {
  color: #859900;
}
html .content .highlight .gd {
  color: #dc322f;
}
html .content .highlight .gh {
  color: #268bd2;
  background-color: #002b36;
  font-weight: bold;
}
html .content .highlight .ge {
  font-style: italic;
}
html .content .highlight .ges {
  font-weight: bold;
  font-style: italic;
}
html .content .highlight .gs {
  font-weight: bold;
}
html .content .highlight .k, html .content .highlight .kn, html .content .highlight .kp, html .content .highlight .kr, html .content .highlight .kv {
  color: #6c71c4;
}
html .content .highlight .kc {
  color: #cb4b16;
}
html .content .highlight .kt {
  color: #cb4b16;
}
html .content .highlight .kd {
  color: #cb4b16;
}
html .content .highlight .sb, html .content .highlight .sc, html .content .highlight .dl, html .content .highlight .sd, html .content .highlight .sh, html .content .highlight .sx, html .content .highlight .s1 {
  color: #859900;
}
html .content .highlight .s, html .content .highlight .s2 {
  color: #fdd766;
}
html .content .highlight .sa {
  color: #6c71c4;
}
html .content .highlight .sr {
  color: #2aa198;
}
html .content .highlight .si {
  color: #d33682;
}
html .content .highlight .se {
  color: #d33682;
}
html .content .highlight .nn {
  color: #b58900;
}
html .content .highlight .nb, html .content .highlight .na {
  color: #77dbe7;
}
html .content .highlight .nc {
  color: #a8db75;
}
html .content .highlight .nv {
  color: #f37842;
}
html .content .highlight .no {
  color: #b58900;
}
html .content .highlight .nf {
  color: #a8db75;
}
html .content .highlight .mb, html .content .highlight .mf, html .content .highlight .il, html .content .highlight .mo, html .content .highlight .mx {
  color: #859900;
}
html .content .highlight .m, html .content .highlight .mi, html .content .highlight .mh {
  color: #aa9cf0;
}
html .content .highlight .ss {
  color: #859900;
}
